$primary-background: #114538;
$secondary-background: hwb(188 6% 70%);
$spotify-color: #1DB954;
$font-title: 'Segoe UI';
$font-main: 'Montserrat';

.song-name {
    font-family: $font-title;
    color: $spotify-color;
    font-size: 5vh;
    margin: 0;
    padding: 0;
}

.artist-name {
    font-family: $font-main;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // box-shadow: white 15px 15px 20px 5px;
    // color: aliceblue;
    width: 50vw;
    height: auto;
}

.info-section {
    display: flex;
    flex-direction: column;
    // justify-content: left;
    // align-items: left;
}

.track-image {
    height: 20vw;
    width: 20vw;
}

.display-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.image-playback {
    box-shadow: 0px 0px 15px 1px;
    margin: 5vh
}