/* palette
#114538
#0F444C
#114538
#5E8D83
#BCC5B4
*/
.App {
  background-image: url('./images/music-bg.jpg');
  /* background-color: yellowgreen; */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
} 

.App-header {
  /* background-color: #161D23; */

}
