$primary-background: #114538;
$secondary-background: hwb(188 6% 70%);
$spotify-color: #1DB954;
$font-title: 'Segoe UI';
$font-main: 'Montserrat';


.search-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

button {
    // align-self: center;
    background-color: $spotify-color;
    min-height: fit-content;
    min-width: fit-content;
    padding: 15px;
    max-width: 20vw;
    color: whitesmoke;
    font-size: 0.98rem;
    border-radius: 30px;
    font-family: $font-title;
    font-weight: 800;
    border: none;
    outline: none;
    margin-top: 5vh;

    &:hover {
        box-shadow: 0px 0px 40px 15px $primary-background;
        border: none;
        outline: none;
        transition: all .2s ease-in-out;
        transform: scale(1.09)
    }
    
}