$base-color: white;
$spotify-color: #1DB954;

.toggles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .slider-label {
        color: white;
    }

    .slider-parent {
        position: relative;
    }
    
    .bubble {
        position:absolute;
    }
}



input[type='range'] {
    margin: 28px;

    -webkit-appearance: none;
    height: 3vh;
    width: 41vw;
    background: grey;
    border-radius: 25px;
    background-color: $spotify-color;
    box-shadow: #114538 0px 0px 20px 5px;


    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 3.5vh;
        width: 3.5vh;
        border-radius: 50%;
        background: white;
        cursor: pointer;

    }
    &::-webkit-slider-thumb:hover {
        box-shadow: $spotify-color 0px 0px 10px 4px;
    }
    &::-webkit-slider-thumb:active {
        box-shadow: $spotify-color 0 0 0 4px;
        transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic-
        bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
}
